.huge-margin-top {
  margin-top: 100vh;
}

.img-row {
  display: inline-block;
}

.img-frame {
  margin: 10px;
  border: 5px solid #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.img-frame:hover, .img-frame:focus, .img-frame:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
