:root {
  --ngx-lightbox-overlay-z-index: 9999;
  --ngx-lightbox-z-index: 10000;
  --ngx-lightbox-overlay-bg: #000;
  --ngx-lightbox-container-bg: #fff;
  --ngx-lightbox-color: #ccc;
  --ngx-lightbox-image-counter-color: #999;
  --ngx-lightbox-caption-link-color: #4ae;
}

html.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--ngx-lightbox-overlay-z-index);
  background-color: var(--ngx-lightbox-overlay-bg);
  opacity: 0.8;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: var(--ngx-lightbox-z-index);
  text-align: center;
  line-height: 0;
  font-weight: normal;
  box-sizing: content-box;
  outline: none;
}

.lightbox button {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  padding: 0;
}

.lightbox .lb-image {
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: var(--ngx-lightbox-container-bg);
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWxvYWRlciIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgPHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgPGxpbmUgeDE9IjEyIiB5MT0iNiIgeDI9IjEyIiB5Mj0iMyIgLz4KICA8bGluZSB4MT0iMTYuMjUiIHkxPSI3Ljc1IiB4Mj0iMTguNCIgeTI9IjUuNiIgLz4KICA8bGluZSB4MT0iMTgiIHkxPSIxMiIgeDI9IjIxIiB5Mj0iMTIiIC8+CiAgPGxpbmUgeDE9IjE2LjI1IiB5MT0iMTYuMjUiIHgyPSIxOC40IiB5Mj0iMTguNCIgLz4KICA8bGluZSB4MT0iMTIiIHkxPSIxOCIgeDI9IjEyIiB5Mj0iMjEiIC8+CiAgPGxpbmUgeDE9IjcuNzUiIHkxPSIxNi4yNSIgeDI9IjUuNiIgeTI9IjE4LjQiIC8+CiAgPGxpbmUgeDE9IjYiIHkxPSIxMiIgeDI9IjMiIHkyPSIxMiIgLz4KICA8bGluZSB4MT0iNy43NSIgeTE9IjcuNzUiIHgyPSI1LjYiIHkyPSI1LjYiIC8+Cjwvc3ZnPgoKCg==") no-repeat;
  background-size: contain;
  animation: rotate360deg 4s infinite linear;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
  background-size: auto 32px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav button.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNC4yIDI0LjEiIHZpZXdCb3g9IjAgMCAxNC4yIDI0LjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTEyIDI0LjEtMTItMTIgMTItMTIuMSAyLjEgMi4xLTkuOCA5LjkgOS45IDkuOXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
  background-position: left 32px center;
}

.lb-nav button.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNC4yIDI0LjEiIHZpZXdCb3g9IjAgMCAxNC4yIDI0LjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIuMSAyNC4xLTIuMS0yLjIgOS45LTkuOS05LjktOS45IDIuMS0yLjEgMTIgMTIuMXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
  background-position: right 32px center;
}

.lb-nav button.lb-prev:hover, .lb-nav button.lb-next:hover {
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 10px;
  zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: var(--ngx-lightbox-color);
}

.lb-data .lb-details {
  max-width: 80%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: var(--ngx-lightbox-caption-link-color);
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: var(--ngx-lightbox-image-counter-color);
}

.lb-data .lb-controlContainer {
  float: right;
}

.lb-data .lb-turnContainer {
  float: left;
  margin-right: 5px;
}

.lb-data .lb-zoomContainer {
  float: right;
  margin-right: 5px;
}

.lb-data .lb-downloadContainer {
  float: right;
  margin-right: 5px;
}

.lb-data .lb-closeContainer {
  float: right;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNy4zIDI3LjMiIHZpZXdCb3g9IjAgMCAyNy4zIDI3LjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIuMSAyNy4zLTIuMS0yLjEgMTEuNS0xMS42LTExLjUtMTEuNSAyLjEtMi4xIDExLjUgMTEuNSAxMS42LTExLjUgMi4xIDIuMS0xMS41IDExLjYgMTEuNiAxMS42LTIuMSAyLjEtMTEuNy0xMS42eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.lb-data .lb-turnLeft {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0Mi4zIDQyLjMiIHZpZXdCb3g9IjAgMCA0Mi4zIDQyLjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTE4LjkgNDIuM2MtMS42LS4yLTMuMS0uNi00LjYtMS4ycy0yLjktMS40LTQuMi0yLjRsMi4xLTIuMmMxLjEuOCAyLjIgMS40IDMuMyAxLjkgMS4xLjQgMi4zLjggMy41IDF2Mi45em00LjUgMHYtM2MzLjctLjcgNi43LTIuNCA5LjEtNS4yczMuNi02LjEgMy42LTEwYzAtNC4yLTEuNC03LjgtNC4zLTEwLjdzLTYuNC00LjMtMTAuNy00LjNoLTFsNCAzLjktMi4yIDIuMi03LjYtNy43IDcuNi03LjUgMi4yIDIuMi00IDMuOWgxYzIuNSAwIDQuOC41IDcgMS40czQuMSAyLjIgNS43IDMuOSAyLjkgMy41IDMuOCA1LjcgMS40IDQuNSAxLjQgN2MwIDQuNy0xLjUgOC43LTQuNSAxMi4xLTIuOCAzLjQtNi42IDUuNC0xMS4xIDYuMXptLTE2LjYtNi44Yy0uOS0xLjMtMS43LTIuNy0yLjMtNC4yLS42LTEuNi0xLTMuMi0xLjMtNC45aDNjLjIgMS4zLjUgMi41LjkgMy42LjUgMS4yIDEuMSAyLjIgMS44IDMuMnptLTMuNi0xMy42Yy4yLTEuNy43LTMuMyAxLjItNC44LjYtMS41IDEuNC0yLjkgMi4zLTQuM2wyLjMgMi4yYy0uOCAxLjEtMS40IDIuMi0xLjggMy40cy0uOCAyLjMtLjkgMy41eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-turnRight {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0Mi4zIDQyLjMiIHZpZXdCb3g9IjAgMCA0Mi4zIDQyLjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIzLjUgNDIuM3YtM2MxLjItLjIgMi4zLS41IDMuNS0xIDEuMS0uNSAyLjItMS4xIDMuMy0xLjlsMi4xIDIuMmMtMS4zIDEtMi43IDEuOC00LjIgMi40LTEuNi43LTMuMSAxLjEtNC43IDEuM3ptLTQuNSAwYy00LjYtLjctOC4zLTIuNy0xMS4zLTYuMXMtNC40LTcuNC00LjQtMTIuMWMwLTIuNS41LTQuOCAxLjQtN3MyLjItNC4xIDMuOS01LjcgMy41LTIuOSA1LjctMy45IDQuNS0xLjQgNy0xLjRoMWwtNC0zLjkgMi4yLTIuMiA3LjYgNy43LTcuNiA3LjYtMi4yLTIuMiA0LTMuOWgtMWMtNC4yIDAtNy44IDEuNC0xMC43IDQuM3MtNC4zIDYuNC00LjMgMTAuN2MwIDMuOSAxLjIgNy4yIDMuNiAxMHM1LjUgNC41IDkuMSA1LjJ6bTE2LjUtNi44LTIuMi0yLjJjLjgtMSAxLjQtMi4xIDEuOC0zLjIuNS0xLjIuOC0yLjQuOS0zLjZoM2MtLjIgMS43LS43IDMuMy0xLjMgNC45LS41IDEuNC0xLjMgMi44LTIuMiA0LjF6bTMuNi0xMy42aC0zYy0uMi0xLjItLjUtMi4zLS45LTMuNS0uNS0xLjItMS4xLTIuMy0xLjgtMy40bDIuMi0yLjFjMSAxLjMgMS44IDIuOCAyLjMgNC4zLjYgMS40IDEgMyAxLjIgNC43eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-zoomOut {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzNiAzNi4xIiB2aWV3Qm94PSIwIDAgMzYgMzYuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMzMuOCAzNi0xMy4yLTEzLjJjLTEgLjktMi4yIDEuNS0zLjUgMnMtMi44LjctNC4yLjdjLTMuNiAwLTYuNi0xLjItOS4xLTMuOHMtMy44LTUuNC0zLjgtOC45IDEuMi02LjYgMy44LTkuMSA1LjUtMy43IDkuMS0zLjdjMy41IDAgNi41IDEuMiA5IDMuOHMzLjcgNS41IDMuNyA5LjFjMCAxLjQtLjIgMi44LS43IDQuMi0uNSAxLjMtMS4yIDIuNi0yLjEgMy44bDEzLjIgMTIuOXptLTIxLTEzLjRjMi43IDAgNS0xIDYuOS0yLjlzMi45LTQuMiAyLjktNi45LTEtNS0yLjktNi45LTQuMS0yLjktNi44LTIuOS01LjEgMS03IDIuOS0yLjkgNC4yLTIuOSA2LjkgMSA1IDIuOSA2LjkgNC4yIDIuOSA2LjkgMi45em0tNS4xLTguM3YtM2gxMC4xdjN6IiBmaWxsPSIjZmZmIi8+PC9zdmc+") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-zoomIn {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0Mi4zIDQyLjMiIHZpZXdCb3g9IjAgMCA0Mi4zIDQyLjMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTM5LjcgNDIuMi0xNS40LTE1LjRjLTEuMiAxLTIuNSAxLjgtNC4xIDIuNHMtMy4yLjktNSAuOWMtNC4yIDAtNy44LTEuNS0xMC43LTQuNC0zLTMtNC40LTYuNS00LjQtMTAuN3MxLjQtNy43IDQuNC0xMC42IDYuNC00LjQgMTAuNi00LjRjNC4xIDAgNy43IDEuNSAxMC42IDQuNHM0LjQgNi41IDQuNCAxMC42YzAgMS43LS4zIDMuMy0uOCA0LjlzLTEuNCAzLTIuNSA0LjRsMTUuNSAxNS40em0tMjQuNi0xNS43YzMuMiAwIDUuOS0xLjEgOC4xLTMuNCAyLjItMi4yIDMuMy01IDMuMy04LjFzLTEuMS01LjktMy4zLTguMS00LjktMy40LTguMS0zLjQtNS45IDEuMS04LjIgMy40LTMuNCA1LTMuNCA4LjEgMS4xIDUuOSAzLjQgOC4xYzIuMyAyLjMgNSAzLjQgOC4yIDMuNHptLTEuOC01di00LjhoLTQuOHYtMy41aDQuOHYtNC44aDMuNXY0LjhoNC44djMuNWgtNC44djQuOHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=") top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-download {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiAzMiIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0zIDMyYy0uOCAwLTEuNS0uMy0yLjEtLjlzLS45LTEuMy0uOS0yLjF2LTcuMWgzdjcuMWgyNnYtNy4xaDN2Ny4xYzAgLjgtLjMgMS41LS45IDIuMXMtMS4zLjktMi4xLjl6bTEzLTcuNy05LjYtOS42IDIuMS0yLjEgNiA2di0xOC42aDN2MTguNWw2LTYgMi4yIDIuMXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=") right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}

/* animation */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInOverlay {
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}

@keyframes fadeOutOverlay {
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

@keyframes rotate360deg {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.fadeIn{
  animation-name: fadeIn;
}

.fadeInOverlay{
  animation-name: fadeInOverlay;
}

.fadeOut {
  animation-name: fadeOut;
}

.fadeOutOverlay {
  animation-name: fadeOutOverlay;
}

.animation {
  animation-fill-mode: both;
}

.transition {
  transition-property: all;
  transition-timing-function: ease;
}

.lb-image {
  transition-duration: 0.5s;
  transition-property: transform;
}
